html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.landing-page-center {
  padding-top: 4.8rem;
}

.scrolling-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0 1rem;
  color: white;
  background: #000;
}

.horizontal-move-text {
  font-weight: 500;
  font-size: 1.1rem;
  text-align: center;
  padding: 0.5rem;
}

.fa-phone {
  padding: 0 0.5rem;
}

.service-offer-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.services-title {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  padding: 0.5rem;
}

.services-card {
  padding: 1.2rem;
  margin: 1rem;
  width: 340px;
  min-height: 500px;
  background: #eae8e8;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.services-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card-img {
  height: auto;
}

.ac-repair-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
}

.card-content {
  padding: 14px;
}

.card-title {
  font-size: 1.5rem;
  color: #333;
  margin: 0 0 10px;
  font-weight: 500;
}

.card-description {
  font-size: 1rem;
  color: #555;
  margin: 0 0 20px;
  line-height: 1.6;
}

.card-btn {
  display: inline-block;
  padding: 10px 15px;
  background-color: #363682;
  color: #fff;
  text-decoration: none;
  font-size: 0.9rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  transition: all 0.3s ease;
}

.card-btn:hover  {
  transform: scale(1.1);
}

.gallery-container-title {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  padding: 0.5rem;
}

.stock-gallery {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 2rem;
  align-items: center;
  justify-content: space-around;
}

.stock-gallery-item {
  height: auto;
  border-radius: 8px;
  box-shadow: 5px 3px 3px rgb(137, 133, 133);
}

/* .brand-show-container {
  content: "";
}

.brand-wrapper {
  content: "";
} */

.brand-title-cont {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  padding: 0.5rem;
}

.brand-logo {
  padding: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 8px;
}

.logo {
  width: 110px;
  height: auto;
  border-radius: 14px;
}

.navbar-brand {
  width: 160px;
  height: auto;
}

.navbar-brand img {
  border-radius: 7px;
}

.landing-page-about-us {
  margin: 1rem;
  padding: 1rem;
}

.landing-page-about-us-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}
.founder-word {
  font-size: 1.9rem;
  font-weight: 600;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.l-p-about-text {
  width: 70%;
}

.aboutus-know-more-btn {
  margin-top: 1.5rem;
}

#knowmore-cta {
  padding: 10px 20px;
  border-radius: 4px;
  background: #000;
  color: white;
  font-size: 1.2rem;
  font-weight: 400;
  transition: all 0.3s ease;
  text-decoration: none;
  cursor: pointer;

}

#knowmore-cta:hover{
  transform: scale(1.1);
}



.l-p-about-img-cont {
  width: 400px;
}

.l-p-about-img-cont img {
  border-radius: 0% 100% 0% 100% / 50% 33% 67% 50%;
  background-position: center;
  background-size: cover;
}

.whatsapp-chat-feature {
  display: block;
  width: 100%;
  height: auto;
  text-align: right;
}

.whatsapp-logo {
  position: fixed;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  right: 1rem;
  bottom: 14rem;
  right: 0.5rem;
  bottom: 1.5rem;
  transition: transform 0.5s, opacity 0.5s;
  z-index: 1
}

.whatsapp-logo {
  animation: bounce 2s infinite;
}

.implement-map {
  margin: 1rem 0;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% { 
    transform: translateY(20px);
  }
}

 
.top-page-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem 3rem;
  background: rgb(255, 255, 255);
  background-color: #363682;
}

.top-page-wrapper span {
  font-size: 0.9rem;
  font-weight: 600;
  font-family: 'Poppins';
  color: white;
}

.nav-item {
  padding-left: 1.5rem;
}

#enq-btn-navbar {
  margin: 0 2rem;
  border-radius: 4px;
  padding: 10px 20px;
  background: white;
  font-weight: 600;
}

#enq-btn-navbar:hover {
  transform: scale(1.1); 
}

#credintal {
  font-size: 0.9rem;
  text-decoration: none;
  font-family: 'Lucida Sans',sans-serif;
  margin: 1rem;
  color: white;
}

#credintal:hover {
  color: blue;
}

#fixed-navbar {
  position: fixed;
  width: 100%;
  z-index: 1;
}


.phone-icons {
  padding: 0.5rem 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #eae8e8;
  transition: all 0.4 ease;
  cursor: pointer;
}

.phone-icons:hover {
  transform: scale(1.1);
}

.phone-icons-links, .w-icons-links {
  text-decoration: none;
  display: block;
  font-size: 1.3rem;
  font-weight: 600;
  color: black;
}

.fa-map-marker {
  padding-right: 0.5rem;
}

.top-page-contact {
  text-decoration: none;
  color: white;
  font-size: 1.01rem;
  font-weight: 500;
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .service-offer-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
  }
  .services-card {
    width: auto;
    min-height: 450px;
  }
}



@media only screen and (max-width: 760px) {
  .brand-logo {
    display: grid;
    grid-template-columns: repeat(3, 90px);
  }
}

@media only screen and (max-width: 624px) {
  .service-offer-container {
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 10px;
  }
  .services-card {
    width: auto;
    min-height: 450px;
  }

  .stock-gallery {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 0.8rem;
  }

  .brand-title-cont {
    font-size: 1.5rem;
    font-weight: 500;
  }

  .gallery-container-title {
    font-size: 1.5rem;
  }

  /* .brand-logo {
    display: grid;
    grid-template-columns: repeat(3, 90px);
  } */

  .scrolling-text-container {
    display: none;
  }
  .landing-page-about-us-wrapper {
    display: block;
  }

  .l-p-about-text {
    width: auto;
    padding: 1rem 0;
  }
  .l-p-about-img-cont {
    width: auto;
    padding: 1rem 0;
  }

  .top-page-wrapper {
    display: none;
  }
}

@media only screen and (min-width: 1424px) {
  .stock-gallery-item {
    max-width: 400px;
  }
}
