html {
  box-sizing: border-box;
  /* font-size: 16px; */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-landing-page-container {
  /* border: 1px solid red;  */
  content: "";
}

.main-landing-page-center {
  /* border: 1px solid #000; */
}

.hero-container {
  /* border: 1px solid #000; */
}

.scrolling-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0 1rem;
  color: white;
  background: #000;
}

.horizontal-move-text {
  font-weight: 500;
  font-size: 1.3rem;
  text-align: center;
  padding: 0.5rem;
}

.fa-phone {
  padding: 0 0.5rem;
}

.our-services-container {
  /* border: 1px solid #000; */
}

.service-offer-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.services-title {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  padding: 0.5rem;
}

.services-card {
  padding: 1.2rem;
  margin: 1rem;
  /* border: 1px solid #000; */
  width: 340px;
  min-height: 500px;
  /* height: 500px; */
  background: #eae8e8;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.services-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card-img {
  /* width: 100%;*/
  height: auto;
}

.ac-repair-img {
  /* width: 300px;
      height: auto; */
  width: 100%;
  height: 200px;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
}

.card-content {
  padding: 14px;
}

.card-title {
  font-size: 1.5rem;
  color: #333;
  margin: 0 0 10px;
  font-weight: 500;
}

.card-description {
  font-size: 1rem;
  color: #555;
  margin: 0 0 20px;
  line-height: 1.6;
}

.card-btn {
  display: inline-block;
  padding: 10px 15px;
  /* background: #007bff; */
  background-color: #363682;

  color: #fff;
  text-decoration: none;
  font-size: 0.9rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  transition: all 0.3s ease;
}

.card-btn:hover  {
  transform: scale(1.1);
}

.our-gallery-container {
  /* border: 1px solid green; */
}
.gallery-container-title {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  padding: 0.5rem;
}

.stock-gallery {
  padding: 1rem;
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 2rem;
  align-items: center;
  justify-content: space-around;
}

.stock-gallery-item {
  height: auto;
  border-radius: 8px;
  box-shadow: 5px 3px 3px rgb(137, 133, 133);
}

.brand-show-container {
  content: "";
}

.brand-wrapper {
  content: "";
}

.brand-title-cont {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  padding: 0.5rem;
}

.brand-logo {
  /* border: 1px solid #000; */
  padding: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 8px;
}

.logo {
  width: 110px;
  height: auto;
  border-radius: 14px;
  /* border: 1px solid red; */
}

/* navbar logo  */
.navbar-brand {
  width: 120px;
  height: auto;
}

.navbar-brand img {
  border-radius: 7px;
}

.landing-page-about-us {
  /* border: 1px solid #000; */
  margin: 1rem;
  padding: 1rem;
}

.landing-page-about-us-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}
.founder-word {
  font-size: 1.9rem;
  font-weight: 600;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.l-p-about-text {
  /* border: 1px solid #000; */
  width: 70%;
}

.aboutus-know-more-btn {
  margin-top: 1.5rem;
  /* padding-top: 1rem; */
  /* border: 1px solid #000; */
}

.know-more-cta {
  padding: 10px 20px;
  border-radius: 4px;
  background: #000;
  color: white;
  font-size: 1.2rem;
  font-weight: 400;
  transition: all 0.3s ease;
  text-decoration: none;
  cursor: pointer;

}

.know-more-cta:hover {
  transform: scale(1.1);
}

.l-p-about-img-cont {
  width: 400px;
}

.l-p-about-img-cont img {
  border-radius: 0% 100% 0% 100% / 50% 33% 67% 50%;
  background-position: center;
  background-size: cover;
}

.whatsapp-chat-feature {
  display: block;
  /* border: 1px solid red; */
  width: 100%;
  height: auto;
  /* position: relative; */
  text-align: right;
}

.whatsapp-logo {
  position: fixed;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  /* position: absolute; */
  right: 1rem;
  bottom: 14rem;
  right: 0.5rem;
  bottom: 1.5rem;
  transition: transform 0.5s, opacity 0.5s;
  z-index: 1
}

.whatsapp-logo {
  animation: bounce 2s infinite;
}

.implement-map {
  margin: 1rem 0;
  /* border: 1px solid #ffffff; */
    /* width: 350px;
    height: 200px; */
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% { 
    transform: translateY(20px);
  }
}

  /* .whatsapp-logo:hover {
    transform: rotate(360deg) scale(1.2);
    opacity: 0.8;
  } */

.top-page-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem 3rem;
  background: rgb(255, 255, 255);
  background-color: #363682;
  /* border: 2px solid red; */
}

.top-page-wrapper span {
  font-size: 0.9rem;
  font-weight: 600;
  font-family: 'Poppins';
  color: white;
}
/* boot strap css  */
.nav-item {
  /* border: 1px solid #ffffff; */
  padding-left: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#enq-btn-navbar {
  margin: 0 2rem;
  border-radius: 4px;
  padding: 10px 20px;
  /* background-color: #363682; */
  background: white;
  font-weight: 600;
  /* color: black; */


}

#enq-btn-navbar:hover {
  transform: scale(1.1); 
}


@media only screen and (max-width: 1024px) {
  .service-offer-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
  }
  .services-card {
    width: auto;
    min-height: 450px;
  }
}



@media only screen and (max-width: 760px) {
  .brand-logo {
    display: grid;
    grid-template-columns: repeat(3, 90px);
  }
}

@media only screen and (max-width: 624px) {
  .service-offer-container {
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 10px;
  }
  .services-card {
    width: auto;
    min-height: 450px;
  }

  .stock-gallery {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 0.8rem;
  }

  .brand-title-cont {
    font-size: 1.5rem;
    font-weight: 500;
  }

  .gallery-container-title {
    font-size: 1.5rem;
  }

  /* .brand-logo {
    display: grid;
    grid-template-columns: repeat(3, 90px);
  } */

  .scrolling-text-container {
    display: none;
  }
  .landing-page-about-us-wrapper {
    display: block;
  }

  .l-p-about-text {
    width: auto;
    padding: 1rem 0;
  }
  .l-p-about-img-cont {
    width: auto;
    padding: 1rem 0;
  }

  .top-page-wrapper {
    display: none;
  }
}

@media only screen and (min-width: 1424px) {
  .stock-gallery-item {
    max-width: 400px;
  }
}
