html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.about-us-container {
  padding: 0.5rem;
  background: linear-gradient(to bottom, #d6a5ed, #c3d5fa);
}

.about-us-center {
border: 3px solid red;
padding-top: 4rem;
}
.about-headline {
  font-size: 6rem;
  max-width: 1200px;
  margin: auto;
  font-family: sans-serif;
}

.about-us-center section {
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 2rem;
  padding: 0.5rem;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.about-us {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.technician-photo {
  max-width: 300px;
  border-radius: 0% 100% 0% 100% / 70% 33% 67% 30%;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.technician-photo:hover {
  filter: brightness(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.about-txt-wrap p {
  font-size: 1.1rem;
  padding: 0.5rem;
  color: rgb(51 48 48);
}

.our-mission p {
  font-size: 1.1rem;
  padding: 1rem;
  color: rgb(51 48 48);
}

.our-vision p {
  font-size: 1.1rem;
  padding: 1rem;
  color: rgb(51 48 48);
}

.about-title {
  font-size: 3rem;
  font-weight: 700;
  font-family: "Trebuchet MS", "Lucida Sans Unicode";
}

.mark {
  font-weight: bold;
}

#enq-btn-navbar {
  margin: 0 2rem;
  border-radius: 4px;
  padding: 10px 20px;
  background: white;
  font-weight: 600;
}

#enq-btn-navbar:hover {
  transform: scale(1.1); 
}

.nav-item {
  padding-left: 1.5rem;
}

.navbar-brand {
  width: 160px;
  height: auto;
}

.navbar-brand img {
  border-radius: 6px;
}

#fixed-navbar {
  position: fixed;
  width: 100%;
  z-index: 1;
}

@media only screen and (max-width: 724px) {
  .about-us {
    display: block;
  }
  .about-img-cont {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .technician-photo {
    border-radius: 0% 100% 0% 100% / 70% 33% 67% 30%;
    max-width: auto;
  }

  .about-headline {
    font-size: 4rem;
    font-family: "Lora", serif;
  }
}
